
.img-1
{
  
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    
}

.dark-image
{
    filter: brightness(70%);
}


.text-banner-overlay
{
    position: absolute;
    top: 200px; 
    left: 450px; 
    color: white; 
    font-size: 30px; 
    font-family: monospace;
    text-align: center;
}


.font
{
    font-family: fantasy;
    font-size: 50px;
    color: red;
    text-align: center;
    padding-top: 50px;
    
}

.text-1
{
    font-family: fantasy;
    font-size: large;
    color: red;
    text-align: center;
    padding-top: 30px;
}

.text-2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: black;
    text-align: center;
    padding-top: 10px;
}

.img-2
{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}



.img-3 {
    position: relative;
    display: inline-block;
    margin-top:100px ;
    margin-left: 40px;
    margin-right: 80px;
    
  }
  
  .overlay-image {
    position: absolute;
    top: 90px;
    right: 70px; 
  }

.background-image
  {
    padding-top: 60px;
    padding-left: 40px;
    padding-right:40px;
  }

  .text-overlay {
    position: absolute;
    top: 150px; 
    left: 200px; 
    color: white; 
    font-size: 30px; 
    font-family: monospace;
   
  }
  
  .text2-overlay {
    position: absolute;
    top: 320px; 
    left: 200px; 
    color: white; 
    font-size: 30px; 
    font-family: serif,'Times New Roman', Times, serif;
   
  }

  .btn-1
  {
    position: absolute;
    top: 500px; 
    left: 200px; 
    color: white;
    background-color: #f80202;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .btn-1:hover
  {
    background-color: #04f14b;
  }

  .image-container
  {
    background-color: pink;
    padding: 150px;
    color: white;
    margin-top:100px ;
    margin-left: 70px;
    margin-right: 50px;
    border-radius: 20px;
  }

  .place-time
  {
    text-align: center;
    font-family:'Times New Roman', Times, serif
  }

  .place-time
  {
    color: #f80202;
  }

  .place2
  {
    color: white;
    font-size: larger;

  }

  .image-container-2
  {
    
    padding: 150px;
    color: black;
    margin-top:100px ;
    margin-left: 70px;
    margin-right: 50px;
    border-radius: 20px;
  }

  .best-offer
  {
    color: red;
  }

  .coming-soon
  {
    font-size: xx-large;
  }

  .img-4
  
   {
  }
  .offer-2024
  {
    color: red;
  }
  
  .sec-5
  {
    margin-left: 70px;
  }

  .img-6
  {
    margin-left: 70px;
  }

  .tr-1
  {
    text-align: center;
    width: 100%;
  }

  .table-1
{
  color: #f80202;
}

.subscribe
{
  color: black;
}

.sub-2
{
  color: black;
}

.subscribe-form {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.subscribe-form input[type="email"]
 {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.subscribe-form input[type="submit"] 
{
  padding: 8px 15px;
  border-radius: 20px;
  background-color: #f70606;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.image-container-3
  {
    background-color: rgb(240, 220, 224);
    padding: 150px;
    color: white;
    margin-top:100px ;
    margin-left: 70px;
    margin-right: 50px;
    border-radius: 20px;
  }

  .footer
  {
    background-color: rgb(2, 2, 24);
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .left-content,
  .right-content {
    flex: 1;
  }

  
  .left-content 
  {
    text-align: left;
    color: white;
  }

  .right-content 
  {
    text-align: right;
    color: white;
  }

  .image-container-4
   {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .image-container-4 img
   {
    max-width: 100%;
    height: auto;
    margin: 5px; 
  }

  .subscribe-form-2
  {
  padding: 8px ;
  color: white;
  cursor: pointer;
  font-size: 16px;
  }

  .image-container-5 
  {
    position: relative;
    width: 300px; 
    height: 300px; 
  }

  .image-container-5 img
   {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 90; 
  }